*{
    margin:0 ;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

.container1{
   
    padding:0px;
    background:rgb(15, 15, 15);
    background-size:cover;
}


.navbar{

    display:flex;
    
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    cursor: pointer;
       
}

.navlist
{
   
    display:flex;
    
    align-items: center;
}

.navlist li{
   
    list-style:none;
    padding:15px 50px;
   
}


.navlist li a{
    
    text-decoration: none;
    color:rgb(243, 232, 232);
    

}

.navlist li a:hover{
    
    
    color:rgb(217, 226, 245);

}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 45%;
}

.firsthalf
{
    width: 80%;
    display: flex;
    justify-content:center;
    margin-top: 20%;
    flex-direction:column;
    color:rgb(240, 227, 227);

}
.secondhalf
{
    width: 50%;
    

}



.secondhalf img{
    width: 90%;
    border: 1px solid white;
    border-radius: 350px;
    display:flex;
    margin-top: 50%;

}

.text-big{

    font-size: 35px;
    font-style: bold;

}


.text-small{
    
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.main {
    background: rgba(241, 238, 234, 0.986);
    height: 100vh;
    
    
}


.section
{
    height:100vh;
    
   
    width: 100vw;
   background-color: rgb(240, 238, 229);
}



.section1
{
    background-color: rgb(223, 221, 215);
    height:100vh;
    margin-top: 50px;
    width: 100vw;
   
}


.background{
    background: rgba(0,0, 0, 0.7) url('../img/office.jpg');
    background-size:cover;
    background-blend-mode: darken;
    height: 80%;
}

.background1{
    background: rgba(0,0, 0, 0.7) url('../img/bb.jpg');
    background-blend-mode: darken;
    height:100vh;
    width:100vw;
    
   
}

.background2{
    background: rgba(0,0, 0, 0.2) url('../img/white2.jpg');
    background-blend-mode: darken;
    height:100vh;
    width:100vw;
    
   
}

.background3{
    background: rgba(0,0, 0, 0.5) url('../img/blue1.jpg');
    background-blend-mode: darken;
    height:100vh;
    width:100vw;
    
   
}


.background4{
    background: rgba(0,0, 0, 0.2) url('../img/journey1.jpg');
    background-blend-mode: darken;
    height:100vh;
    width:100vw;
    
   
}


.rightpara{
   margin-left: 700px;
   width: 600px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 400;

}


.sectionsubtag{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.firstsection
{
    height: 100vh;
    
}


.firsthalf{
    width: 80%;
    display: flex;
    justify-content:center;

    flex-direction:column;

}
.secondhalf
{
    width: 50%;
    

}

.h1{
    font-size: 30px;
    color: solid rgb(12, 12, 12);
}

.list{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form{
    margin-left: 450px;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
    text-align: center;
  }

  .fa-instagram {
    background: #f10c64;
    color: white;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .links{
    padding-left: 450px;
  }

  @media  (max-width: 716px)
  {
    
   
      .navlist,navlist li
      {
        flex-direction: column;
       font-size: 15px;
       padding:10px 5px;
      }
   
      
   } 